<!DOCTYPE html>
<html>
  <head>
    <title>RubyistRun</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= link_to image_tag("logo.png", size: '32'), root_path %>
      <p>RUBYIST.RUN</p>
    </header>
    <main class="container">
      <% if user_signed_in? %>
        <%= button_to 'log out', destroy_user_session_path, method: :delete %>
      <% end %>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </main>
    <footer>
      <p>© <%= Time.now.year %> rubyist.run</p>
      <%= link_to image_tag('github.svg', size: '16'), 'https://github.com/GaiheiluKamei/rubyist.run', target: '_blank' %>
      <%= mail_to 'x@rubyist.run' do %>
        <%= image_tag('email.png', size: '16') %>
      <% end %>
    </footer>
  </body>
</html>
